<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.scal.openarchive" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
     For 4.4 up. Allows us to take permanent permission on File URI Without having
     to show file chooser each time
    -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!-- Required to sign in or register with archive.org -->
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="open_archive.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="io.scal.openarchive.db" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- filter for sending text or images; accepts SEND action and audio/photo/video data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstStartActivity"
            android:label="@string/title_activity_first_start"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReviewMediaActivity"
            android:label="@string/title_activity_view_media"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.scal.openarchive.MainActivity" />
        </activity>
        <activity
            android:name=".ArchiveSettingsActivity"
            android:label="@string/title_activity_archive_metadata"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" >
        </activity>
        <activity
            android:name="io.scal.secureshareui.login.ArchiveLoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".FirstStartActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.scal.openarchive.FirstStartActivity" />
        </activity>
        <activity
            android:name=".MediaListActivity"
            android:label="@string/title_media_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.scal.openarchive.MainActivity" />
        </activity>
    </application>

</manifest>